* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
  font-family: "Trebuchet MS";
}

body {
	font-family: "Trebuchet MS", Arial, sans-serif;
}

a {
	color: rgb(0, 0, 0);
}

.sidebar-content {
	display: flex;
	flex-wrap: wrap;
	min-height: 100%;
}

.sidebar {
	flex: 1 1 25%;
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-width: 205px;
	max-width: 230px;
	border-right: 2px solid #0f0f0f;
	text-align: center;
}

.nav-link {
	text-decoration: none;
	font-weight: bold;
}

.content {
	flex: 1 1 75%;
	position: absolute;
	margin-left: 235px;
	min-width: 340px;
}

header {
	font-size: 17px;
}

.links {
	margin: 10px 0;
}

.link-list {
	list-style: none;
	position: absolute;
	width: 100%;
	padding-left: 0;
}

.link-list > li {
		margin: 10px 0;
		border: solid rgb: (0, 0, 0);
		border-style: solid none none none;
		padding-left: 20px;
		padding-top: 10px;
		position: relative;
		width: 100%;
}

.logo {
	min-width: 100%;
	transform: rotate(180);
}

@media min-width: 390px {
	.sidebar-content	{
		flex-wrap: nowrap;
	}
}
